/* src/components/Form.css */
.form-container {
  background-color: #fff;
  padding: 50px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 300px;
  margin: 0 auto;
  margin-top: 100px;
  align-items: center;
}

h2 {
  margin: 0;
  padding: 10px 0;
  color: #333;
}

form {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 300px;
  text-align: center;
}

label {
  font-weight: bold;
  margin-top: 10px;
}

input {
  width: 70%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  background-color:  #d9534f;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  padding: 10px 20px;
  margin-top: 10px;
}

button:hover {
  background-color:  #d9534f;
}
